<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- block('head').toString() %>
  </head>
  <body>
    <section>
      <%- body -%>
    </section>
    <%- block('footer').toString() %>
  </body>
</html>